*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: arial;
	font-size: 15px;
	
}
img{
width: 100%
}

#primaryMenu li{
	position: relative;
	float: left;
	list-style: none;
	
}
#mainNav{
	width: 100%;
	background:#ddd;
	border-bottom:3px solid #1dbf73;
	display: table;
}
#primaryMenu li a{
	color: #222;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	transition: 0.5s;
	padding:  22px;
	
}

#primaryMenu a:hover{
	background: #1dbf73;
	color: white;
	border-radius: 7px;
	transform: scale(0.9);

}
#logo{
	width: 62px;
	float: left;
	display: block;
	margin-left: 65px;
	margin-top: 5px;
}
#display_size{
	width: 1170px;
	margin: auto;
	
}
#menucontainer{
	float:right;
	margin-top: 7px;
}
ul #sub_menu li {
	float: none;
	text-align: center;
}

#sub_menu {
	list-style: none;
	width: 200px;
	position:absolute;
	top: 66px;
	left:0;
	background: #166f45;
	border-top: 4px solid #ddd;
	transform:scaleY(0);
	transform-origin: top;
	transition: all 0.5s;
	margin-left:-35px;
}
#primaryMenu li:hover #sub_menu  {

transform:scaleY(1);
}

#sub_menu li:hover a{
	 margin-left: 3px;
	 border-bottom: 2px solid black;
}

#primaryMenu #sub_menu li a {

padding: 5px;
color:white;

}
#menu{
	list-style: none;
	width: 130px;
	position:absolute;
	top: 66px;
	left:0;
	background: #166f45;
	border-top: 4px solid #ddd;
	color:  white;
	transform:scaleY(0);
	transform-origin: top;
	transition: all 0.5s;
	margin-left:-20px;
	
}
#primaryMenu #menu li{
	text-align: center;
	float: none;
}
#primaryMenu #menu li a {

padding: 5px;
color:white;

}
#primaryMenu li:hover #menu  {

transform:scaleY(1);

}
#menu li:hover a{

	 border-bottom: 2px solid black;
}
footer{
	margin-top: 30px;
	width: 500px;
}
